@model IEnumerable<Scarpe___Co.Models.Articolo>

@{
    ViewData["Title"] = "Vetrina";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Vetrina</h1>

<p>Ecco la lista dei nostri articoli.</p>
<div class="container">
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var articolo in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/images/@articolo.ImmagineCopertina" class="card-img-top" alt="@articolo.Nome">
                        <div class="card-body">
                            <h5 class="card-title">@articolo.Nome</h5>
                            <p class="card-text">@articolo.Prezzo.ToString("C")</p>
                            <a href="@Url.Action("Dettagli", "Articoli", new { id = articolo.Id })" class="btn btn-primary">Dettagli</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Nessun articolo disponibile.</p>
    }

    <div class="text-center mt-4">
        <a href="@Url.Action("Nuovo", "Articoli")" class="btn btn-success">Aggiungi Nuovo Articolo</a>
    </div>
</div>